<section class="l-finor-cadastro-container" xmlns="http://www.w3.org/1999/html">
  <header>
    <div class="l-finor-cadastro-container__header">
      <div class="grid l-main-grid">
        <div class="col-12 xl-10"></div>
        <div
          class="
            l-finor-cadastro-container__title-wrapper
            col-12
            xl-10
            flex
            align-items-center
            justify-content-between
            mb-3
          "
        >
          <div>
            <h2 class="l-finor-cadastro-container__title ml-3">
              Pessoa - Cadastro
            </h2>
          </div>
          <div>
            <p-button
              label="VOLTAR"
              icon="pi pi-directions-alt"
              [routerLink]="'/gerenciamento'"
              styleClass="p-button-outlined p-button-secondary mr-3"
            ></p-button>
            <p-button
              label="LIMPAR"
              (click)="resetForms()"
              icon="pi pi-undo"
              styleClass="p-button-outlined p-button-secondary mr-3"
            ></p-button>
            <p-button
              [label]="'SALVAR'"
              icon="pi pi-save"
              (onClick)="saveArea()"
              [disabled]="form.invalid"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="grid l-main-grid">
    <div class="mt-3 mb-2">
      <p-card>
        <form [formGroup]="form" class="fluid formgrid grid">
          <div class="p-input-filled col-6">
            <label>Nome completo *</label>
            <input
              formControlName="nomePessoa"
              id="sigla"
              type="text"
              pInputText
            />
            <small
              class="p-invalid"
              *ngIf="
                form.get('nomePessoa').invalid && form.get('nomePessoa').touched
              "
            >
              Digite o nome completo
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Nome de guerra *</label>
            <input formControlName="nomeGuerra" type="text" pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('nomeGuerra').invalid && form.get('nomeGuerra').touched
              "
            >
              Digite o nome de guerra
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Saram *</label>
            <input formControlName="numeroSaram" [maxlength]="7" pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('numeroSaram').invalid &&
                form.get('numeroSaram').touched
              "
            >
              Digite o saram
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Cpf *</label>
            <input formControlName="numeroCpf" [maxlength]="11" pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('numeroCpf').invalid && form.get('numeroCpf').touched
              "
            >
              Digite o cpf
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Nr Identidade</label>
            <input formControlName="numeroIdentidade" pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('numeroIdentidade').invalid &&
                form.get('numeroIdentidade').touched
              "
            >
              Digite o nome de guerra
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Orgão expedidor</label>
            <input
              formControlName="siglaOrgaoEspedidor"
              type="text"
              pInputText
            />
            <small
              class="p-invalid"
              *ngIf="
                form.get('numeroIdentidade').invalid &&
                form.get('numeroIdentidade').touched
              "
            >
              Digite a sigla do orgão expedidor
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Posto *</label>
            <br />
            <p-dropdown
              [options]="postos"
              [filter]="true" 
              filterBy="nomePosto" 
              [showClear]="true"
              emptyFilterMessage="Nenhum posto encontrado"
              formControlName="postoId"
              optionValue="id"
              optionLabel="nomePosto"
              styleClass="flex"
              placeholder="Selecione"
            >
            </p-dropdown>
            <small
              class="p-invalid"
              *ngIf="form.get('postoId').invalid && form.get('postoId').touched"
            >
              Selecione um posto
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Quadro *</label>
            <br />
            <p-dropdown
              [options]="quadros"
              [filter]="true" 
              filterBy="siglaQuadro" 
              [showClear]="true"
              emptyFilterMessage="Nenhum quadro encontrado"
              formControlName="quadroId"
              optionValue="id"
              optionLabel="siglaQuadro"
              styleClass="flex"
              placeholder="Selecione"
            >
            </p-dropdown>
            <small
              class="p-invalid"
              *ngIf="form.get('quadroId').invalid && form.get('quadroId').touched"
            >
              Selecione um quadro
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Especialidade *</label>
            <br />
            <p-dropdown
              [options]="especialidades"
              [filter]="true" 
              filterBy="siglaEspecialidade" 
              [showClear]="true"
              emptyFilterMessage="Nenhuma especialidade encontrada"
              formControlName="especialidadeId"
              optionValue="id"
              optionLabel="siglaEspecialidade"
              styleClass="flex"
              placeholder="Selecione"
            >
            </p-dropdown>
            <small
              class="p-invalid"
              *ngIf="
                form.get('especialidadeId').invalid &&
                form.get('especialidadeId').touched
              "
            >
              Selecione uma especialidade
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Sub Especialidade </label>
            <br />
            <p-dropdown
              [options]="especialidades"
              [filter]="true" 
              filterBy="siglaEspecialidade" 
              [showClear]="true"
              emptyFilterMessage="Nenhuma especialidade encontrada"
              formControlName="codigoSubEspecialidade"
              optionValue="id"
              optionLabel="siglaEspecialidade"
              styleClass="flex"
              placeholder="Selecione"
            >
            </p-dropdown>
            <small
              class="p-invalid"
              *ngIf="
                form.get('codigoSubEspecialidade').invalid &&
                form.get('codigoSubEspecialidade').touched
              "
            >
              Selecione uma sub-especialidade
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Sexo *</label>
            <br />
            <p-dropdown
              [options]="cdsexo"
              formControlName="codigoSexo"
              optionValue="codigo"
              optionLabel="nome"
              styleClass="flex"
              placeholder="Selecione"
            >
            </p-dropdown>
            <small
              class="p-invalid"
              *ngIf="form.get('codigoSexo').invalid && form.get('codigoSexo').touched"
            >
              Selecione o sexo
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Data Praça *</label>
            <p-calendar
              formControlName="dataIncorporacao"
              placeholder="Selecione"
              styleClass="flex"
              dateFormat="dd/mm/yy"
            >
            </p-calendar>
            <small
            class="p-invalid"
            *ngIf="
              form.get('dataIncorporacao').invalid &&
              form.get('dataIncorporacao').touched
            "
          >
            Selecione uma data
          </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Data Nascimento *</label>
            <p-calendar
              formControlName="dataNascimento"
              placeholder="Selecione"
              styleClass="flex"
              dateFormat="dd/mm/yy"
            >
            </p-calendar>
            <small
            class="p-invalid"
            *ngIf="
              form.get('dataNascimento').invalid &&
              form.get('dataNascimento').touched
            "
          >
            Selecione uma data
          </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Data Baixa</label>
            <p-calendar
              formControlName="dataBaixa"
              placeholder="Selecione"
              styleClass="flex"
              dateFormat="dd/mm/yy"
            >
            </p-calendar>
          </div>
          <div class="p-input-filled col-2">
            <label>Unidade *</label>
            <p-dropdown
              [options]="unidades"
              formControlName="unidadeId"
              optionValue="id"
              optionLabel="siglaUnidade"
              styleClass="flex"
              placeholder="Selecione"
            >
            </p-dropdown>
          </div>
          <div class="flex col-12 p-0">
          <div class="p-input-filled col-2">
            <label>Numero Cnh</label>
            <input formControlName="numeroRegistroCnh" pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('numeroRegistroCnh').invalid &&
                form.get('numeroRegistroCnh').touched
              "
            >
              Digite o nr de registro da cnh
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Categoria Cnh</label>
            <input 
              formControlName="codigoCategoriaCnh"
              [maxlength]="1"
              pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('codigoCategoriaCnh').invalid &&
                form.get('codigoCategoriaCnh').touched
              "
            >
              Digite a categoria da cnh
            </small>
          </div>
          <div class="p-input-filled col-2">
            <label>Data de validade Cnh</label>
            <p-calendar
              formControlName="dataValidadeCnh"
              placeholder="Selecione"
              styleClass="flex"
              dateFormat="dd/mm/yy"
            >
            </p-calendar>
            <small
            class="p-invalid"
            *ngIf="
              form.get('dataValidadeCnh').invalid &&
              form.get('dataValidadeCnh').touched
            "
          >
            Selecione uma data
          </small>
          </div>
          <div class="p-input-filled col-4">
            <label>Email</label>
            <input formControlName="nomeEmail" type="text" pInputText />
            <small
              class="p-invalid"
              *ngIf="
                form.get('nomeEmail').invalid && form.get('nomeEmail').touched
              "
            >
              Digite o email
            </small>
          </div>
          </div>
          <!-- <div class="col-6 flex justify-content-end p-0">
                </div> -->
          <div class="p-input-filled col-12 mt-2"></div>
        </form>
      </p-card>
    </div>
  </div>
</section>
