<section class="l-finor-cadastro-container" xmlns="http://www.w3.org/1999/html">
  <header>
    <div class="l-finor-cadastro-container__header">
      <div class="grid l-main-grid">
        <div class="col-12 xl-10"></div>
        <div
          class="
            l-finor-cadastro-container__title-wrapper
            col-12
            xl-10
            flex
            align-items-center
            justify-content-between
            mb-3
          "
        >
          <div>
            <h2 class="l-finor-cadastro-container__title ml-3">
              Inspeção - Cadastro
            </h2>
          </div>
          <div>
            <p-button
              label="VOLTAR"
              icon="pi pi-directions-alt"
              [routerLink]="'/inspecao'"
              styleClass="p-button-outlined p-button-secondary mr-3"
            ></p-button>
            <p-button
              label="LIMPAR"
              (click)="resetForms()"
              icon="pi pi-undo"
              styleClass="p-button-outlined p-button-secondary mr-3"
            ></p-button>
            <p-button
              [label]="'SALVAR'"
              icon="pi pi-save"
              (onClick)="save()"
              [disabled]="form.invalid"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="l-main-grid">
    <div class="mt-3 mb-2">
      <p-card>
        <form [formGroup]="form" class="fluid formgrid grid">
          <div class="md:col-6">
            <div class="p-input-filled">
              <label for="pessoa">Pessoa Inspecionada *</label>
              <p-autoComplete
                field="label"
                [suggestions]="pessoas"
                (onClear)="searchPessoas({})"
                emptyMessage="Pessoa não encontrada"
                (completeMethod)="searchPessoas($event)"
                [dropdown]="true"
                formControlName="pessoaId"
                [minLength]="3"
                [placeholder]="'Seleciona uma pesssoa'"
                pTooltip="Digite o nome"
                [size]="100"
              >
                <ng-template let-pessoas pTemplate="item">
                  <div class="dropdown-item-container">
                    <span style="font-weight: bolder; font-size: 1.2rem">{{
                      pessoas.label
                    }}</span>
                    <br />
                    <span style="font-size: 1rem">{{ pessoas.title }}</span>
                  </div>
                </ng-template>
              </p-autoComplete>
              <small
              class="p-invalid"
              *ngIf="
                form.get('pessoaId').invalid &&
                form.get('pessoaId').touched
              "
            >
              Selecione uma pessoa
            </small>
            </div>
            </div>
            <div class="md:col-3">
            <div class="p-input-filled">
              <label>Data Inspeção *</label>
              <p-calendar
                formControlName="dataRealizacao"
                placeholder="Data inspeção"
                styleClass="flex"
                dateFormat="dd/mm/yy"
              >
              </p-calendar>
              <small
                class="p-invalid"
                *ngIf="
                  form.get('dataRealizacao').invalid &&
                  form.get('dataRealizacao').touched
                "
              >
                Selecione uma data
              </small>
            </div>
            </div>
            <div class="md:col-3">
            <div class="p-input-filled">
              <label>Data Validade *</label>
              <p-calendar
                formControlName="dataValidade"
                placeholder="Data validade"
                styleClass="flex"
                dateFormat="dd/mm/yy"
              >
              </p-calendar>
              <small
                class="p-invalid p-0 mt-0"
                *ngIf="
                  form.get('dataValidade').invalid &&
                  form.get('dataValidade').touched
                "
              >
                Selecione uma data
              </small>
            </div>
          </div>
          <div class="md:col-3">
            <div class="p-input-filled">
              <label>Tipo de Inspeção *</label>
              <p-dropdown
                [options]="tipoInspecao"
                [filter]="true"
                filterBy="letra"
                [showClear]="true"
                emptyFilterMessage="Nenhuma especialidade encontrada"
                formControlName="tipoInspecao"
                optionValue="letra"
                optionLabel="letra"
                placeholder="Letra"
                styleClass="flex"
              >
              </p-dropdown>
              <small
                class="p-invalid"
                *ngIf="
                  form.get('tipoInspecao').invalid &&
                  form.get('tipoInspecao').touched
                "
              >
                Selecione o tipo de inspeção
              </small>
            </div>
            </div>
            <div class="md:col-3">
            <div class="p-input-filled">
                <label>Resultado Inspeção *</label>
                <p-dropdown
                  [options]="tiposResultados"
                  [filter]="true"
                  filterBy="tipo"
                  [showClear]="true"
                  emptyFilterMessage="Nenhuma especialidade encontrada"
                  formControlName="tipoResultado"
                  optionValue="tipo"
                  optionLabel="tipo"
                  placeholder="Resultado"
                  styleClass="flex"
                >
                </p-dropdown>
                <small
                  class="p-invalid"
                  *ngIf="
                    form.get('tipoResultado').invalid &&
                    form.get('tipoResultado').touched
                  "
                >
                  Selecione o resultado
                </small>
              </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</section>
