<section class="l-finor-consulta-container">
  <header>
    <div class="l-finor-consulta-container__header">
      <div class="l-main-grid">
        <div class="col-12 xl-10 xl-offset-1 mb-3">
          <p-breadcrumb
            [model]="_breadcrumbItems"
            [home]="_home"
            styleClass="mt-3"
            (onItemClick)="handleBreadcrumbClick($event)"
          ></p-breadcrumb>
        </div>
    </div>
  </div>
  </header>
  <div class="l-main-grid">
    <p-card styleClass="mt-3 p-reset">
      <p-toolbar styleClass="mb-2">
        <form [formGroup]="form">
          <div class="p-toolbar-group-left">
            <div class="mr-5">
              <p-autoComplete
                field="label"
                [suggestions]="pessoas"
                (onClear)="searchPessoas({})"
                emptyMessage="Pessoa não encontrado"
                (completeMethod)="searchPessoas($event)"
                (onSelect)="updateTable({ first: 0, rows: 10 })"
                [dropdown]="true"
                formControlName="nomePessoa"
                [minLength]="3"
                [placeholder]="'Filtrar por Pessoa'"
                pTooltip="Digite o nome"
                [size]="40"
              >
                <ng-template let-pessoas pTemplate="item">
                  <div class="dropdown-item-container">
                    <span style="font-weight: bolder; font-size: 1.2rem">{{
                      pessoas.label
                    }}</span>
                    <br />
                    <span style="font-size: 1rem">{{ pessoas.title }}</span>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
        </form>
        <div class="p-toolbar-group-right">
          <button
          style="margin-right: 0.5rem"
          pRipple
          pButton
          class="p-button-sm"
          label="GERAR LISTA DO EFETIVO"
          icon="pi pi-download"
          (click)="gerarRelatorio()"
        ></button>
          <button
            style="margin-right: 0.5rem"
            pRipple
            pButton
            class="p-button-sm"
            label="LIMPAR"
            icon="pi pi-replay"
            (click)="onClear()"
          ></button>
          <button
            [routerLink]="'cadastro/pessoa'"
            pButton
            pRipple
            class="p-button-sm"
            label="CADASTRAR PESSOA"
            icon="pi pi-plus"
            [disabled]="actionDisable()"
          ></button>
        </div>
      </p-toolbar>
      <p-table
        #tablepessoa
        [value]="pessoasList"
        [(first)]="first"
        (onLazyLoad)="updateTable($event)"
        [lazy]="true"
        [showCurrentPageReport]="true"
        [paginator]="true"
        [loading]="loadingData"
        [showLoader]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10, 20, 30]"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm-custom p-datatable p-component p-datatable-responsive-stack"
        dataKey="id"
        rowExpandMode="single"
      >
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="8">Nenhum dado encontrado</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Posto / Quadro / Especialidade / Nome</th>
            <th class="text-center">Saram / Cpf </th>
            <th class="text-center" pSortableColumn="dataNascimento">
              Dt Nasc
              <p-sortIcon field="dataNascimento"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="dataIncorporacao">
              Dt Praça
              <p-sortIcon field="dataIncorporacao"></p-sortIcon>
            </th>
            <th class="text-center">
              Nr Identidade
            </th>
            <th class="text-center">
              Email
            </th>
            <th class="text-center">
              Setores
            </th>
            <th class="text-center">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa let-expanded="expanded">
          <tr>
            <td class="text-left">
              <b> 
              {{ pessoa?.posto?.siglaPosto }}
              </b>
              {{ pessoa?.dataBaixa != null ? "R/1" : ""}}
              {{ 
                pessoa?.quadro == null ? " ":
                pessoa?.quadro?.siglaQuadro.includes("QSS") || pessoa?.quadro?.siglaQuadro.includes("QSD") ? pessoa?.quadro?.siglaQuadro+ " "+ pessoa?.especialidade?.siglaEspecialidade.substring(4,7):
                pessoa?.especialidade?.siglaAbreviada == null ? pessoa?.quadro?.siglaQuadro:
                pessoa?.quadro?.siglaQuadro+ " " +pessoa?.especialidade?.siglaAbreviada
              }}
              {{ pessoa?.nomePessoa }} 
              ( <b>{{ pessoa?.nomeGuerra }}</b> )
            </td>
            <td class="text-justify">
              ( <b>{{ pessoa?.numeroSaram }}</b> )
              {{ pessoa?.numeroCpf?.substring(0,3)+"."+ pessoa?.numeroCpf?.substring(3,6)+"."+ pessoa?.numeroCpf?.substring(6,9)+"-"+ pessoa?.numeroCpf?.substring(9,11) }}
            </td>
            <td class="text-center">
              {{ pessoa?.dataNascimento | date: "dd/MM/yyyy" }}
            </td>
            <td class="text-center">
              {{
                pessoa?.dataIncorporacao
                  ? (pessoa?.dataIncorporacao | date: "dd/MM/yyyy")
                  : "-"
              }}
            </td>
            <td class="text-center">
              {{ pessoa?.numeroIdentidade ? pessoa?.numeroIdentidade+ " ( "+ pessoa?.siglaOrgaoEspedidor +" )" : "-" }}
            </td>
            <td class="text-center">
              {{ pessoa?.nomeEmail ? pessoa?.nomeEmail : "-" }}
            </td>
            <td class="text-center">
              <button type="button" pButton pRipple [pRowToggler]="pessoa" 
              class="p-button-text p-button-rounded p-button-plain" 
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            </button>
            </td>
            <td class="text-center">
              <div class="align-items-center">
                <p-splitButton
                  label="Ações"
                  [model]="menuItems"
                  (onDropdownClick)="onDropdownClick($event, pessoa)"
                  appendTo="body"
                >
                </p-splitButton>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-pessoa>
          <tr>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center">
                <ng-template ngFor let-setor [ngForOf]="pessoa?.setores" let-i="index">
                  <div class="table-setor-sigla">
                    {{ setor.siglaSetor}}
                  </div>
                  </ng-template>
              </td>
              <td class="text-center">-</td>
          </tr>
      </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr *ngFor="let row of fakeArrayRows">
            <td *ngFor="let col of fakeArrayColumns">
              <p-skeleton> </p-skeleton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button
        type="button"
        class="p-button-danger"
        pButton
        icon="pi pi-times"
        label="Não"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="Sim"
        (click)="cd.accept()"
      ></button>
    </p-footer>
  </p-confirmDialog>
</section>
