<section class="l-finor-consulta-container">
    <header>
      <div class="l-finor-consulta-container__header">
        <div class="l-main-grid">
          <div class="col-12 xl-10 xl-offset-1">
            <p-breadcrumb
              [model]="_breadcrumbItems"
              [home]="_home"
              styleClass="mt-3"
              (onItemClick)="handleBreadcrumbClick($event)"
            ></p-breadcrumb>
          </div>
        <div class="
            l-finor-consulta-container__title-wrapper
            col-12 xl-10 xl-offset-1 flex
          "
        >
          <h2 class="l-finor-consulta-container__title ml-3">
            Listagem Efetivo
          </h2>
        </div>
      </div>
    </div>
    </header>

    <p-card styleClass="mt-3 reset">
       
        <app-efetivo-tabela
          [pessoas]="pessoasCadastradas"
        ></app-efetivo-tabela>
      </p-card>

  </section>
  