<section class="l-finor-cadastro-container" xmlns="http://www.w3.org/1999/html">
  <header>
    <div class="l-finor-cadastro-container__header">
      <div class="l-main-grid">
        <div class="col-12 xl-10 col-offset-1"></div>
        <div
          class="l-finor-cadastro-container__title-wrapper col-12 xl-10 flex align-items-center justify-content-between mb-3"
        >
          <div>
            <h2 class="l-finor-cadastro-container__title ml-3">
              Inspeção - Detalhe
            </h2>
          </div>
          <div>
            <p-button
              label="VOLTAR"
              icon="pi pi-directions-alt"
              [routerLink]="'/inspecao'"
              styleClass="p-button-outlined p-button-secondary mr-3"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="l-main-grid">
    <p-card styleClass="mt-3 p-reset">
      <div *ngIf="blocked" class="custom-skeleton p-p-4">
        <p-skeleton width="100%" height="640px"></p-skeleton>
      </div>
      <div *ngIf="!blocked" class="formgrid grid">
        <div class="col-12">
          <div class="flex justify-content-center">
            <label>Inspecionado</label>
          </div>
          <div class="mt-3 mb-3 flex justify-content-center">
            <div>
              <p-avatar
                [label]=""
                [image]="
                  inspecao?.pessoaInspecionada?.foto
                    ? 'data:image/jpeg;base64,' +
                      inspecao?.pessoaInspecionada?.foto
                    : null
                "
                shape="circle"
                size="xlarge"
              ></p-avatar>
            </div>
            <div class="flex ml-3 align-items-center">
              {{
                inspecao?.pessoaInspecionada.posto
                  ? inspecao?.pessoaInspecionada.posto
                  : "CV"
              }}
              {{
                inspecao?.pessoaInspecionada.tarefaTempoCerto == "TTC"
                  ? "R/1"
                  : ""
              }}
              {{
                inspecao?.pessoaInspecionada.especialidade
                  ? inspecao?.pessoaInspecionada.especialidade
                  : ""
              }}
              {{ inspecao?.pessoaInspecionada.nome }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <p-divider align="center">
            <span class="p-tag">Finalidade</span>
          </p-divider>
        </div>
        <div class="col-12">
          <div class="flex">
            <div class="col-2">
              <label>Codigo finalidade</label>
              <div class="mt-2">
                {{ inspecao?.finalidade.sigla }}
              </div>
            </div>
            <div class="col-10">
              <label>Descrição finalidade </label>
              <div class="mt-2 text-justify">
                {{ inspecao?.finalidade.descricao }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p-divider align="center">
            <span class="p-tag">Tipo de junta de saude</span>
          </p-divider>
        </div>
        <div class="col-12">
          <div class="flex">
            <div class="col-2">
              <label>Codigo classificação</label>
              <div class="mt-2">
                {{ inspecao?.tipoJunta?.sigla }}
              </div>
            </div>
            <div class="col-10">
              <label>Descrição classificação </label>
              <div class="mt-2 text-justify">
                {{ inspecao?.tipoJunta?.nome }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p-divider align="center">
            <span class="p-tag">Subclassificação</span>
          </p-divider>
        </div>
        <div class="col-12">
          <div class="flex">
            <div class="col-2">
              <label>Codigo subclassificação</label>
              <div class="mt-2">N/A</div>
            </div>
            <div class="col-10">
              <label>Descrição subclassificação </label>
              <div class="mt-2 text-justify">N/A</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p-divider align="center">
            <span class="p-tag">Status Inspeção</span>
          </p-divider>
        </div>
        <div class="col-12">
          <div class="flex">
            <div class="col-2">
              <label>Codigo resultado</label>
              <div class="mt-2">
                {{ inspecao?.statusInspsau?.nome }}
              </div>
            </div>
            <div class="col-6">
              <label>Descrição resultado</label>
              <div class="mt-2">
                {{ inspecao?.statusInspsau?.descricao }}
              </div>
            </div>
            <div class="col-2">
              <label>Data agendamento</label>
              <div class="mt-2">
                {{ inspecao?.agenda?.dataAgenda ?(inspecao?.agenda?.dataAgenda | date: "dd/MM/yyyy"): "N/A" }}
              </div>
            </div>
            <div class="col-2">
              <label>Data de Validade</label>
              <div class="mt-2">
                <div
                  [ngClass]="{
                    'dt-vencida': hoje.isSameOrAfter(inspecao?.dataValidade),
                    'dt-valida': hoje.isBefore(inspecao?.dataValidade)
                  }"
                >
                  {{
                    inspecao?.dataValidade != null
                      ? (inspecao?.dataValidade | date: "dd/MM/yyyy")
                      : "N/A"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</section>
