<p-table [value]="pessoas" [lazy]="true" (onLazyLoad)="loadCustomers($event)" responsiveLayout="scroll"
    [paginator]="true" [rows]="20" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['nomePessoa']">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nomePessoa">Name <p-sortIcon field="nomePessoa"></p-sortIcon></th>
            <th pSortableColumn="country.name">Country <p-sortIcon field="country.name"></p-sortIcon></th>
            <th pSortableColumn="company">Company <p-sortIcon field="company"></p-sortIcon></th>
            <th pSortableColumn="representative.name">Representative <p-sortIcon field="representative.name"></p-sortIcon></th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="nomePessoa"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="country.name"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="company"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
        <tr>
            <td>{{pessoa.nomePessoa}}</td>
            <td>{{pessoa.numeroCpf}}</td>
            <td>{{pessoa.numeroSaram}}</td>
            <td>{{pessoa.especialidade.siglaEspecialidade}}</td>
        </tr>
    </ng-template>
</p-table>
