.tag {
    font-size: 0.857143rem;
    text-transform: uppercase;
    font-weight: 600;
    background: var(--light-grey);
    color: var(--black);
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
  }
  
  .emptyTableMessage {
    font-weight: bold;
    opacity: 50%;
  }
  