<section class="l-finor-consulta-container">
  <header>
    <div class="l-finor-consulta-container__header">
      <div class="l-main-grid">
        <div class="col-12 xl-10 xl-offset-1 mb-3">
          <p-breadcrumb
            [model]="_breadcrumbItems"
            [home]="_home"
            styleClass="mt-3"
            (onItemClick)="handleBreadcrumbClick($event)"
          ></p-breadcrumb>
        </div>
      </div>
    </div>
  </header>
  <div class="l-main-grid">
    <p-card styleClass="mt-3 p-reset">
      <p-toolbar styleClass="mb-2">
        <div class="p-toolbar-group-left">
          <div class="mr-2">
            <controle-inspecao-filtro
              [tiposEfetivo]="opcoesFiltroEfetivo"
              [pessoas]="pessoas"
              (formValue)="selectTipoEfetivo($event)"
              (tipoEfetivo)="searchPessoas($event)"
              (tableUpdate)="pessoaFilter($event)"
            ></controle-inspecao-filtro>
          </div>
        </div>
        <div class="p-toolbar-group-right">
          <!-- <button
            style="margin-right: 0.5rem"
            pRipple
            pButton
            class="p-button-sm"
            label="LIMPAR"
            icon="pi pi-replay"
            (click)="onClear()"
          ></button>
          <button
            [routerLink]="'cadastro'"
            pButton
            pRipple
            class="p-button-sm"
            label="CADASTRAR INSPEÇÃO"
            icon="pi pi-plus"
            [disabled]="actionDisable()"
          ></button> -->
        </div>
      </p-toolbar>
      <p-table
        #tablepessoa
        [value]="inspecaoList"
        (onLazyLoad)="updateTable($event)"
        [lazy]="true"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        [paginator]="true"
        [loading]="loadingData"
        [showLoader]="false"
        [rows]="10"
        rowGroupMode="rowspan" groupRowsBy="pessoaInspecionada.id" sortField="representative.name" sortMode="single" responsiveLayout="scroll"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10, 20, 30]"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
        styleClass="p-datatable-gridlines p-datatable-striped  p-datatable-sm-custom"
        dataKey="id"
        rowExpandMode="single"
        sortField="pessoaInspecionada.numeroAntiguidade"
      >
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="8">Nenhum dado encontrado</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Inspecionado</th>
            <th class="text-center">Finalidade</th>
            <th class="text-center">Status</th>
            <th class="text-center">Data Agendamento</th>
            <th class="text-center">Data Validade</th>
            <th class="text-center">Local Realização</th>
            <th class="text-center">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inspecao let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
          <tr>
            <td class="text-center" *ngIf="rowgroup" [attr.rowspan]="rowspan">
              <p-avatar
              *ngIf="!inspecao?.pessoaInspecionada?.foto"
              icon="pi pi-user"
              shape="circle"
              size="xlarge"
            ></p-avatar>
              <p-avatar
              *ngIf="inspecao?.pessoaInspecionada?.foto"
              [label]=""
              [image]="inspecao?.pessoaInspecionada?.foto ? 'data:image/jpeg;base64,'+inspecao?.pessoaInspecionada?.foto : null"
              shape="circle"
              size="xlarge"
            ></p-avatar>
              <div class="font-bold">{{ inspecao?.pessoaInspecionada?.postoNomeGuerra }}</div>
            </td>
            <td class="text-center">
              {{ inspecao?.finalidade?.sigla }}
            </td>
            <td class="text-center">
              {{ inspecao?.statusInspsau?.descricao }}
            </td>
            <td class="text-center">
              {{ inspecao?.agenda?.dataAgenda ? (inspecao?.agenda?.dataAgenda | date: "dd/MM/yyyy"): "N/A" }}
            </td>
            <td class="text-center">
              <div
                [ngClass]="{
                  'dt-vencida': hoje.isSameOrAfter(inspecao?.dataValidade),
                  'dt-valida': hoje.isBefore(inspecao?.dataValidade)
                }"
                class="mt-2"
              >
                {{ inspecao?.dataValidade ? (inspecao?.dataValidade | date: "dd/MM/yyyy"): "N/A" }}
              </div>
            </td>
            <td class="text-center">
              {{ inspecao?.organizacao?.sigla }}
            </td>
            <td class="text-center">
              <div class="flex justify-content-center align-items-center">
                <a style="cursor: pointer">
                  <button
                    *ngIf="
                      this.userService?.user?.roles.includes('ROLE_GERENTE_SPM')
                    "
                    pTooltip="Detalhar"
                    pButton
                    icon="pi pi-info-circle"
                    routerLink="/inspecao/{{ inspecao.id }}/detalhe"
                    class="p-button-raised p-button-text primary mr-2"
                  ></button>
                  <button
                    *ngIf="
                      this.userService?.user?.roles.includes(
                        'ROLE_ADMINISTRADOR'
                      )
                    "
                    disabled="true"
                    pTooltip="Editar"
                    pButton
                    icon="pi pi-pencil"
                    routerLink=""
                    class="p-button-raised p-button-text p-button-success mr-2"
                  ></button>
                  <button
                    *ngIf="
                      this.userService?.user?.roles.includes('ROLE_ADMINISTRADOR')
                    "
                    disabled=true
                    pTooltip="Excluir"
                    pButton
                    icon="pi pi-trash"
                    class="p-button-raised p-button-text p-button-danger"
                    (click)="delete(inspecao.id)"
                  ></button>
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr *ngFor="let row of fakeArrayRows">
            <td *ngFor="let col of fakeArrayColumns">
              <p-skeleton> </p-skeleton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button
        type="button"
        class="p-button-danger"
        pButton
        icon="pi pi-times"
        label="Não"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="Sim"
        (click)="cd.accept()"
      ></button>
    </p-footer>
  </p-confirmDialog>
</section>
